*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* strat header */
.navbar-collapse{
    background-color: #1B3087  !important;
    
  }
  .navbar-collapse ul li{
    padding: 6px 15px;
  }
  .navbar-collapse ul{
    margin-right: 20px;
  }
  a{
    color: white !important;
  }
/* end header */


/* start footer */
.footer {
    background-color: #1B3087 !important;
    padding: 20px 0;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }
  .adjust-footer{
    margin-left: 0;
  }
  .logo-text{
    color: white;
    font-size: 14px;
  }
  .logo-text .icon-link{
    margin-top: -8px;
  }
  .adjust-footer ul li{
    list-style: none;
    color: white;
    margin: 10px;
    font-size: 14px;

  }
  .adjust-footer ul li a:hover{
    text-decoration: none;
  }
  .footer-bold{
    font-weight: bold;
  }

/* end footer */


/* Home page strat*/
.background-image {
    height: 300px;
    background:rgba(0, 0, 0, 0.5)url(img/main-background1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px !important;
    margin: 10px 20px;
    background-blend-mode:darken;
    /* opacity: 0.5;  */
  }
  
  .text-container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1739c0;
    
  }

  .adjust-main-paragraph{
    font-size: 10px;
    margin-bottom: -2px;
  }

  .adjust-getintch-btn{
    padding: 4px 10px;
    color: #1B3087 !important;
    font-size: 14px;
    border: 2px solid #1B3087;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
  }
  .add-border{
    border: 1px solid grey;
  }
  .change-p-color{
    color: #1B3087;
    font-size: 12px;
  }
/* Home page end */